html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: auto 80vh auto;
  grid-template-areas:
    "header header"
    "main right"
    "footer footer";
  width: 100vw;
  height: 100vh;
}

.map {
  grid-area: main;
  margin: 1rem;
  min-width: 0;
  min-height: 0;
  border: 1px solid #000;
  border-radius: 10px;
}

.header {
  grid-area: header;
  text-align: center;
  align-self: center;
}

.footer {
  grid-area: footer;
  text-align: center;
  align-self: center;
}

.right {
  grid-area: right;
  text-align: center;
  align-self: top;
}

.stats-table {
  margin: auto;
  text-align: left;
}

.stats-row-name {
  margin: auto;
  font-weight: bold;
}

svg {
  max-height: 100%;
  max-width: 100%;
}

.controls {
  display: flex;
  position: fixed;
  /* top: 0; */
  left: 40%;
  /* margin: 1.25rem 0; */
  /* z-index: 2; */
  text-align: center;
  justify-content: center;
  /* transform: translateX(-50%); */
}

.controls > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 2rem;
  width: 2rem;
  background: #009dff;
  color: #fff;
  border-radius: 100%;
  border: 0;
}
.controls > button:first-child {
  margin-right: 0.25rem;
}
